<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link href="./assets/favicon.ico" rel="icon">

  <title>contact_shushi</title>  

<link href="../static/main.3f6952e4.css" rel="stylesheet"></head>
<style>
 
  centerIt{
    margin: 50%;
  }

  .btn-default
    {
    color: #fff;
    background-color: #000000;
    border-color: #fff;
    }

</style>
<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">Random image Provider</h1>
          </div>
            <div class="hero-full-container background-image-container white-text-container" style="background-image: url('../static/assets/images/space.jpg')"></div>
        </div>
      </div>
    </div>
</div>    
<div>
  <centerIt><button type="submit" class="btn btn-default btn-lg" >Send</button></centerIt>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<script type="text/javascript" src="../static/main.70a66962.js"></script></body>

</html>